In [42]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [78]:
test = pd.read_csv('test.csv.zip', names=[i for i in range(40)])
train = pd.read_csv('train.csv', names=[i for i in range(40)])
trainlabels = pd.read_csv('trainLabels.csv', names=['Solution'])

In [79]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,2.808909,-0.242894,-0.546421,0.255162,1.749736,-0.030458,-1.322071,3.578071,-0.667578,-0.884257,...,-0.261688,-0.224375,-1.675606,-0.479584,-0.244388,-0.672355,0.517860,0.010665,-0.419214,2.818387
1,-0.374101,0.537669,0.081063,0.756773,0.915231,2.557282,3.703187,1.673835,-0.764122,-1.228040,...,-0.969463,0.574154,-2.200519,-1.612240,0.179031,-2.924596,0.643610,-1.470939,-0.067408,-0.976265
2,-0.088370,0.154743,0.380716,-1.176126,1.699867,-0.258627,-1.384999,1.093584,1.596633,0.230631,...,-0.769885,-0.005143,1.467490,0.483803,-3.542981,0.814561,-1.652948,1.265866,-1.749248,1.773784
3,-0.685635,0.501283,1.873375,0.215224,-3.983468,-0.103637,4.136113,-0.225431,-1.515015,-1.071763,...,0.968609,2.386412,-0.131219,0.285646,2.302069,1.255588,-1.563090,-0.125258,-1.030761,-2.945329
4,0.350867,0.721897,-0.477104,-1.748776,-2.627405,1.075433,4.954253,-3.293501,-0.760369,0.204360,...,0.260553,-2.045650,-2.173227,0.372992,0.450700,-0.211657,1.301359,-0.522164,2.484883,0.039213

In [80]:
train.head()
train.shape

(1000, 40)

In [81]:
trainlabels.head()
trainlabels.shape

(1000, 1)

In [82]:
x_train, x_test, y_train, y_test = train_test_split(train, trainlabels, test_size=0.25, random_state=4)
reg = LogisticRegression()
reg.fit(x_train, y_train)
y_pred = reg.predict(x_test)

C:\Users\JoeZhong\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [83]:
metrics.accuracy_score(y_pred, y_test)

0.82

In [84]:
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [85]:
metrics.accuracy_score(y_pred, y_test)

0.784

In [86]:
rfclf = RandomForestClassifier()
rfclf.fit(x_train, y_train)
y_pred = rfclf.predict(x_test)

C:\Users\JoeZhong\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [87]:
metrics.accuracy_score(y_pred, y_test)

0.888

In [88]:
gbclf = GradientBoostingClassifier()
gbclf.fit(x_train, y_train)
y_pred = gbclf.predict(x_test)

C:\Users\JoeZhong\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:1454: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [89]:
metrics.accuracy_score(y_pred, y_test)

0.892

In [90]:
result = rfclf.predict(test)

In [91]:
result = pd.DataFrame(result, columns=["Solution"])

In [92]:
result = result.reset_index()
result['index'] = result['index']+1
result.columns = ['Id', 'Solution']

In [93]:
result

        Id  Solution
0        1         1
1        2         0
2        3         1
3        4         0
4        5         0
...    ...       ...
8995  8996         0
8996  8997         1
8997  8998         1
8998  8999         0
8999  9000         1

[9000 rows x 2 columns]

In [95]:
result.to_csv('Solution.csv', index=False)